<div class="container-fluid about-section">
    <div class="text-center">
        <h1>About Us</h1>
        <h4>I am a techgeek currently working as an Intern at Dataguise</h4>
    </div>
    <hr>

    <h2 style="text-align:center"></h2>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img src="https://cdn.pixabay.com/photo/2014/04/02/10/25/man-303792_1280.png" alt="Sagar"
                    style="width:70%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Sagar Bhat</h5>
                    <p><b>Intern</b></p>
                    <p> Mobile No. - 8082372165</p>
                    <p> Email Id - sagarbhat0901@gmail.com</p>
                </div>
            </div>
        </div>
    </div>